# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


Assets\Mockups
Assets/Mockups/Intersections.psd
Android/app/free/release/output.json
Android/app/premium/release/output.json
