<?xml version="1.0" encoding="utf-8"?><!-- Copyright (c) 2015-2017. Spiracle Software. All Rights Reserved. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="com.spiraclestudios.autoskola">

  <uses-permission android:name="com.android.vending.BILLING" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <!-- For reliable local dispatching on non-Google Play devices. -->
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application
      android:name=".BaseApplication"
      android:allowBackup="true"
      android:icon="@drawable/app_icon"
      android:label="@string/launcher_name"
      android:theme="@style/AppTheme_Light.Blue">

    <!-- Google Play Services -->
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <!-- Fabric.io -->
    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="2644eed78272240dcf75b9fcab7b32963b97300f" />

    <activity
        android:name=".presentation.ui.activities.SplashActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme_Splash">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name=".presentation.ui.activities.ConsentActivity"
        android:parentActivityName=".presentation.ui.activities.SplashActivity"
        android:screenOrientation="portrait" />

    <activity
        android:name=".presentation.ui.activities.HomeActivity"
        android:label="@string/app_name"
        android:launchMode="singleTask" />

    <activity android:name=".presentation.ui.activities.ChangelogActivity" />

    <activity
        android:name=".presentation.ui.activities.HistoryActivity"
        android:parentActivityName=".presentation.ui.activities.HomeActivity" />

    <activity
        android:name=".presentation.ui.activities.RoadSignsCategoriesActivity"
        android:label="@string/screen_title__road_signs" />

    <activity
        android:name=".presentation.ui.activities.RoadSignsActivity"
        android:label="@string/screen_title__road_signs"
        android:parentActivityName=".presentation.ui.activities.RoadSignsCategoriesActivity" />

    <activity
        android:name=".presentation.ui.activities.RoadSignsDetailActivity"
        android:label="@string/screen_title__road_sign_detail"
        android:parentActivityName=".presentation.ui.activities.RoadSignsActivity" />

    <activity
        android:name=".presentation.ui.activities.TestActivity"
        android:label="@string/screen_title__home" />

    <activity
        android:name=".presentation.ui.activities.ResultActivity"
        android:label="@string/screen_title__home"
        android:parentActivityName=".presentation.ui.activities.TestActivity" />

    <activity
        android:name=".presentation.ui.activities.SettingsActivity"
        android:label="@string/screen_title__settings" />

    <activity
        android:name=".presentation.ui.activities.FeedbackActivity"
        android:label="@string/screen_title__feedback" />

    <activity
        android:name=".presentation.ui.activities.InformationActivity"
        android:label="@string/screen_title__information" />

  </application>

</manifest>
